{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<script defer>document.addEventListener('load', function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "https://widget.equally.ai/equally-widget.min.js";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'equallyWidget'));!window.EQUALLY_AI_API_KEY&&(window.EQUALLY_AI_API_KEY="82idd8xx0s125fcvqhfinzkvkx8ty8br",intervalId=setInterval(function(){window.EquallyAi&&(clearInterval(intervalId),window.EquallyAi=new EquallyAi)},500));</script>



<div class="section--footer">
  <div class="footer--container page-container ">
    <div class="footer-menu-column">
      <div class="footer-menu-title">
        <h3> SHOP</h3>
      </div>
      <ul class="footer-menu-list">
        <li><a href="/collections/certifications?filter.p.tag=Certification&filter.v.price.gte=&filter.v.price.lte=&sort_by=manual">Certifications</a></li>
        <li><a href="/collections/specializations?filter.p.tag=Specialization&filter.v.price.gte=&filter.v.price.lte=&sort_by=manual">Specializations</a></li>
        <li><a href="/collections/bundles?filter.p.tag=Bundles&filter.v.price.gte=&filter.v.price.lte=&sort_by=manual">Bundles</a></li>
        <li><a href="/collections/all-products">Shop all</a></li>
      </ul>

    </div>

    <div class="footer-menu-column">
      <div class="footer-menu-title">
        <h3> ABOUT</h3>
      </div>
      <ul class="footer-menu-list">
        <li><a href="/pages/apprenticeship-program">Apprenticeship program</a></li>
        <li><a href="/pages/affiliate-program">Affiliate program</a></li>
        <li><a href="/pages/about-us">About Us</a></li>
        <li><a href="/pages/contact-us">Contact Us</a></li>
         <li><a href="/pages/gym-partners">Gym Partnerships</a></li>
      </ul>

    </div>

    <div class="footer-menu-column">
      <div class="footer-menu-title">
        <h3> CONTACT</h3>
      </div>
      <ul class="footer-menu-list">
        <li>
          <div class=""><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
              <path d="M14.6182 12.0625L17.4527 14.897C17.8286 15.2729 17.8286 15.8823 17.4527 16.2582C15.4205 18.2903 12.2033 18.519 9.90418 16.7946L8.09521 15.4379C6.35168 14.1303 4.80285 12.5814 3.4952 10.8379L2.13848 9.02893C0.414119 6.72979 0.642759 3.51257 2.67493 1.48039C3.05081 1.10451 3.66023 1.10451 4.03611 1.48039L6.87064 4.31492C7.26116 4.70544 7.26116 5.33861 6.87064 5.72913L5.75348 6.8463C5.58218 7.0176 5.53971 7.27929 5.64805 7.49597C6.90064 10.0011 8.93197 12.0325 11.4371 13.2851C11.6538 13.3934 11.9155 13.3509 12.0868 13.1796L13.204 12.0625C13.5945 11.6719 14.2277 11.6719 14.6182 12.0625Z" fill="#E9F24F" stroke="#E9F24F" stroke-width="1.2" />
            </svg></div><a href="tel:+1 778-949-6782">778-949-NPTA (6782)</a>
        </li>
        <li>
          <div class=""><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.346455 6.65129C0.333252 7.19022 0.333252 7.80205 0.333252 8.5V10.5C0.333252 13.3284 0.333252 14.7426 1.21193 15.6213C2.09061 16.5 3.50482 16.5 6.33325 16.5H12.3333C15.1617 16.5 16.5759 16.5 17.4546 15.6213C18.3333 14.7426 18.3333 13.3284 18.3333 10.5V8.5C18.3333 7.80205 18.3333 7.19022 18.32 6.65129L10.3045 11.1044C9.70049 11.4399 8.96601 11.4399 8.36197 11.1044L0.346455 6.65129ZM0.576219 4.52971C0.659097 4.55052 0.740651 4.58237 0.818895 4.62584L9.33325 9.35604L17.8476 4.62584C17.9259 4.58237 18.0074 4.55052 18.0903 4.52971C17.9603 4.05619 17.7608 3.68491 17.4546 3.37868C16.5759 2.5 15.1617 2.5 12.3333 2.5H6.33325C3.50482 2.5 2.09061 2.5 1.21193 3.37868C0.9057 3.68491 0.706194 4.05619 0.576219 4.52971Z" fill="#E9F24F" />
            </svg></div><a href="mailto:info@npta.ca">info@npta.ca</a>
        </li>

      </ul>

      <div class="footer--social">
        <ul>
          <li>
            <a href="https://www.facebook.com/nptacanada" target="_blank">

              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <path d="M10.4128 3.54734H11.6662V1.42734C11.0593 1.36424 10.4496 1.33308 9.8395 1.334C8.02617 1.334 6.78617 2.44067 6.78617 4.46734V6.214H4.7395V8.58734H6.78617V14.6673H9.2395V8.58734H11.2795L11.5862 6.214H9.2395V4.70067C9.2395 4.00067 9.42617 3.54734 10.4128 3.54734Z" />
              </svg>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/npta.canada/" target="_blank">

              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <path d="M12.6053 2.768C12.4154 2.768 12.2298 2.8243 12.0719 2.92979C11.914 3.03528 11.791 3.18521 11.7183 3.36062C11.6457 3.53604 11.6267 3.72906 11.6637 3.91529C11.7007 4.10151 11.7922 4.27256 11.9264 4.40682C12.0607 4.54108 12.2317 4.63251 12.418 4.66955C12.6042 4.7066 12.7972 4.68758 12.9726 4.61492C13.148 4.54226 13.298 4.41922 13.4035 4.26135C13.5089 4.10348 13.5653 3.91787 13.5653 3.728C13.5653 3.47339 13.4641 3.22921 13.2841 3.04918C13.104 2.86914 12.8599 2.768 12.6053 2.768ZM16.2853 4.704C16.2697 4.04024 16.1454 3.38352 15.9173 2.76C15.7138 2.22651 15.3972 1.74342 14.9893 1.344C14.5931 0.933941 14.1089 0.619341 13.5733 0.424C12.9514 0.188929 12.2939 0.061768 11.6293 0.048C10.7813 -4.47035e-08 10.5093 0 8.33325 0C6.15725 0 5.88525 -4.47035e-08 5.03725 0.048C4.37257 0.061768 3.71513 0.188929 3.09325 0.424C2.55859 0.621319 2.0748 0.935648 1.67725 1.344C1.26719 1.74014 0.952593 2.22435 0.757252 2.76C0.522181 3.38187 0.39502 4.03932 0.381252 4.704C0.333252 5.552 0.333252 5.824 0.333252 8C0.333252 10.176 0.333252 10.448 0.381252 11.296C0.39502 11.9607 0.522181 12.6181 0.757252 13.24C0.952593 13.7756 1.26719 14.2599 1.67725 14.656C2.0748 15.0644 2.55859 15.3787 3.09325 15.576C3.71513 15.8111 4.37257 15.9382 5.03725 15.952C5.88525 16 6.15725 16 8.33325 16C10.5093 16 10.7813 16 11.6293 15.952C12.2939 15.9382 12.9514 15.8111 13.5733 15.576C14.1089 15.3807 14.5931 15.0661 14.9893 14.656C15.399 14.2581 15.7159 13.7746 15.9173 13.24C16.1454 12.6165 16.2697 11.9598 16.2853 11.296C16.2853 10.448 16.3333 10.176 16.3333 8C16.3333 5.824 16.3333 5.552 16.2853 4.704ZM14.8453 11.2C14.8394 11.7078 14.7475 12.211 14.5733 12.688C14.4455 13.0362 14.2404 13.3507 13.9733 13.608C13.7138 13.8724 13.3998 14.0771 13.0533 14.208C12.5762 14.3822 12.0731 14.4742 11.5653 14.48C10.7653 14.52 10.4693 14.528 8.36525 14.528C6.26125 14.528 5.96525 14.528 5.16525 14.48C4.63796 14.4899 4.11293 14.4087 3.61325 14.24C3.28188 14.1025 2.98234 13.8982 2.73325 13.64C2.46772 13.383 2.26513 13.0682 2.14125 12.72C1.94594 12.2361 1.83761 11.7216 1.82125 11.2C1.82125 10.4 1.77325 10.104 1.77325 8C1.77325 5.896 1.77325 5.6 1.82125 4.8C1.82484 4.28084 1.91961 3.76636 2.10125 3.28C2.24209 2.94233 2.45826 2.64133 2.73325 2.4C2.9763 2.12493 3.27668 1.90648 3.61325 1.76C4.10089 1.58403 4.61485 1.49206 5.13325 1.488C5.93325 1.488 6.22925 1.44 8.33325 1.44C10.4373 1.44 10.7333 1.44 11.5333 1.488C12.0411 1.49382 12.5442 1.5858 13.0213 1.76C13.3848 1.89492 13.7111 2.11428 13.9733 2.4C14.2354 2.64574 14.4403 2.94619 14.5733 3.28C14.7511 3.76715 14.8431 4.28142 14.8453 4.8C14.8853 5.6 14.8933 5.896 14.8933 8C14.8933 10.104 14.8853 10.4 14.8453 11.2ZM8.33325 3.896C7.5219 3.89758 6.72922 4.13962 6.05538 4.59153C5.38153 5.04345 4.85675 5.68496 4.54736 6.435C4.23796 7.18505 4.15783 8.00997 4.31709 8.80554C4.47634 9.60111 4.86784 10.3316 5.44211 10.9048C6.01638 11.4779 6.74766 11.868 7.54354 12.0257C8.33942 12.1834 9.16418 12.1017 9.91363 11.7908C10.6631 11.48 11.3036 10.954 11.7542 10.2792C12.2048 9.6045 12.4453 8.81135 12.4453 8C12.4463 7.46008 12.3406 6.92529 12.1342 6.42636C11.9279 5.92744 11.6249 5.47425 11.2427 5.09284C10.8606 4.71143 10.4068 4.40934 9.90749 4.20394C9.40817 3.99854 8.87317 3.89389 8.33325 3.896ZM8.33325 10.664C7.80636 10.664 7.29131 10.5078 6.85321 10.215C6.41512 9.92231 6.07367 9.50625 5.87204 9.01947C5.6704 8.53269 5.61765 7.99705 5.72044 7.48028C5.82323 6.96351 6.07695 6.48883 6.44952 6.11627C6.82209 5.7437 7.29677 5.48998 7.81353 5.38719C8.3303 5.2844 8.86594 5.33715 9.35272 5.53878C9.8395 5.74042 10.2556 6.08187 10.5483 6.51996C10.841 6.95805 10.9973 7.47311 10.9973 8C10.9973 8.34984 10.9283 8.69626 10.7945 9.01947C10.6606 9.34268 10.4644 9.63636 10.217 9.88373C9.96961 10.1311 9.67593 10.3273 9.35272 10.4612C9.02951 10.5951 8.68309 10.664 8.33325 10.664Z" />
              </svg>
            </a>
          </li>

  

        </ul>
      </div>

    </div>

    <div class="footer-settings-column">
      <ul>
        <li> <svg xmlns="http://www.w3.org/2000/svg" width="48" height="20" viewBox="0 0 48 20" fill="none">
            <g clip-path="url(#clip0_745_899)">
              <path d="M8.77067 2.56901C8.20817 3.24199 7.30798 3.77299 6.40789 3.69706C6.29539 2.78711 6.73601 1.82009 7.25173 1.22284C7.81423 0.5309 8.79879 0.0379147 9.59576 0C9.68951 0.947962 9.3238 1.87697 8.77067 2.56901ZM9.58648 3.87725C8.28317 3.80142 7.16745 4.62607 6.54861 4.62607C5.92048 4.62607 4.97342 3.91517 3.94208 3.93412C2.60136 3.95308 1.35429 4.72085 0.669825 5.94379C-0.736612 8.38957 0.3042 12.0109 1.66367 14.0016C2.32939 14.9875 3.12636 16.0682 4.17645 16.0302C5.17039 15.9923 5.56414 15.3762 6.76433 15.3762C7.97379 15.3762 8.32076 16.0302 9.37086 16.0113C10.4585 15.9923 11.1429 15.0255 11.8086 14.0395C12.568 12.9209 12.8775 11.8307 12.8962 11.7738C12.8775 11.7549 10.796 10.9492 10.7773 8.52228C10.7585 6.49365 12.4181 5.52673 12.4931 5.46986C11.5554 4.06682 10.0928 3.91517 9.58648 3.87725ZM17.1155 1.12806V15.9071H19.3845V10.8544H22.5255C25.3945 10.8544 27.4104 8.8637 27.4104 5.9818C27.4104 3.1 25.432 1.12815 22.6005 1.12815L17.1155 1.12806ZM19.3845 3.06199H22.0004C23.9694 3.06199 25.0945 4.1237 25.0945 5.99119C25.0945 7.85867 23.9694 8.92995 21.991 8.92995H19.3845V3.06199ZM31.5545 16.0208C32.9797 16.0208 34.3017 15.2909 34.9018 14.1343H34.9487V15.907H37.049V8.55071C37.049 6.41782 35.3613 5.04322 32.764 5.04322C30.3544 5.04322 28.5729 6.43678 28.5073 8.35166H30.5513C30.7201 7.44161 31.5545 6.84436 32.6984 6.84436C34.0861 6.84436 34.8643 7.49848 34.8643 8.70246V9.51763L32.0327 9.68825C29.398 9.84938 27.9729 10.9396 27.9729 12.8356C27.9729 14.7505 29.4449 16.0208 31.5545 16.0208ZM32.1639 14.267C30.9545 14.267 30.1856 13.6793 30.1856 12.7787C30.1856 11.8498 30.9263 11.3094 32.3421 11.2241L34.8643 11.0629V11.8971C34.8643 13.2811 33.7017 14.267 32.164 14.267M39.8525 19.9264C42.0652 19.9264 43.106 19.0734 44.0154 16.4853L48.0002 5.1854H45.6936L43.0215 13.9162H42.9746L40.3025 5.1854H37.9303L41.7744 15.9449L41.5682 16.5991C41.2213 17.7082 40.6587 18.1348 39.6555 18.1348C39.4774 18.1348 39.1305 18.1158 38.9898 18.0969V19.8696C39.121 19.9075 39.6835 19.9264 39.8524 19.9264" fill="white" />
            </g>
            <defs>
              <clipPath id="clip0_745_899">
                <rect width="48" height="20" fill="white" />
              </clipPath>
            </defs>
          </svg> </li>
        <li> <svg xmlns="http://www.w3.org/2000/svg" width="49" height="20" viewBox="0 0 49 20" fill="none">
            <g clip-path="url(#clip0_745_901)">
              <path d="M34.7332 5.3982C36.0803 5.3982 37.1212 5.77458 37.9173 6.52732C38.7132 7.27997 39.0806 8.2836 39.0806 9.53811V15.5597H37.3661V14.1799H37.3049C36.5702 15.309 35.5292 15.8735 34.3046 15.8735C33.2636 15.8735 32.3452 15.5598 31.6104 14.9326C30.9369 14.3054 30.5082 13.4272 30.5082 12.4863C30.5082 11.4827 30.8756 10.6672 31.6104 10.04C32.3452 9.41271 33.3861 9.16183 34.6107 9.16183C35.7129 9.16183 36.5702 9.35007 37.2436 9.78909V9.35007C37.2436 8.76458 37.0303 8.17918 36.6036 7.79771L36.5088 7.71919C36.019 7.28007 35.4067 7.02919 34.7332 7.02919C33.6923 7.02919 32.8963 7.46827 32.3452 8.34644L30.7532 7.34262C31.7329 6.02536 33.0187 5.3982 34.7332 5.3982ZM26.0997 1.13281C27.1983 1.13281 28.2425 1.52448 29.0773 2.25487L29.2225 2.38722C30.0797 3.13997 30.5082 4.26909 30.5082 5.46085C30.5082 6.65262 30.0797 7.71899 29.2225 8.53438C28.3653 9.34977 27.3243 9.78889 26.0997 9.78889L23.1606 9.72615V15.5597H21.3236V1.13281H26.0997ZM34.9781 10.6671C34.2433 10.6671 33.631 10.8553 33.1412 11.2316C32.6513 11.5452 32.4064 11.9843 32.4064 12.5488C32.4064 13.0507 32.6514 13.4897 33.0187 13.7407C33.4474 14.0543 33.9372 14.2424 34.4271 14.2424C35.1128 14.2424 35.7986 13.9692 36.335 13.4738L36.4477 13.3643C37.06 12.7998 37.3661 12.1098 37.3661 11.357C36.8151 10.918 36.019 10.667 34.9781 10.667M26.2223 2.88899H23.1607V7.90732H26.2223C26.8957 7.90732 27.5693 7.65644 27.9979 7.15468C28.9776 6.21379 28.9776 4.64566 28.0592 3.70468L27.9979 3.64193C27.508 3.14017 26.8957 2.82654 26.2222 2.88928M49 5.71183L42.9382 19.9506H41.1012L43.3667 14.9953L39.3867 5.77458H41.3461L44.2239 12.8625H44.2852L47.1018 5.77458H49V5.71183Z" fill="white" />
              <path d="M15.8741 8.47087C15.8741 7.90636 15.8128 7.34185 15.7516 6.77734H8.0979V9.97636H12.4452C12.2616 10.9799 11.7105 11.9208 10.8533 12.4854V14.5553H13.4862C15.017 13.1126 15.8742 10.9799 15.8742 8.47097" fill="#4285F4" />
              <path d="M8.09776 16.5632C10.302 16.5632 12.1389 15.8105 13.486 14.556L10.8532 12.4861C10.1183 12.9878 9.19988 13.3015 8.09776 13.3015C6.01584 13.3015 4.17891 11.8588 3.5666 9.85156H0.872559V11.9842C2.28083 14.8069 5.03622 16.5632 8.09776 16.5632Z" fill="#34A853" />
              <path d="M3.56664 9.8512C3.19933 8.84757 3.19933 7.71855 3.56664 6.65218V4.51953H0.872597C-0.290866 6.84041 -0.290866 9.60032 0.872597 11.9838L3.56664 9.8512Z" fill="#FBBC04" />
              <path d="M8.09776 3.26513C9.26113 3.26513 10.3632 3.70425 11.2206 4.51964L13.5473 2.13611C12.0777 0.756112 10.1183 -0.0592804 8.15892 0.00336671C5.09738 0.00336671 2.28083 1.75974 0.933716 4.58239L3.62785 6.71503C4.17891 4.70778 6.01584 3.26513 8.09776 3.26513Z" fill="#EA4335" />
            </g>
            <defs>
              <clipPath id="clip0_745_901">
                <rect width="49" height="20" fill="white" />
              </clipPath>
            </defs>
          </svg> </li>
        <li> <svg xmlns="http://www.w3.org/2000/svg" width="52" height="16" viewBox="0 0 52 16" fill="none">
            <g clip-path="url(#clip0_745_907)">
              <path d="M19.7431 0.284878L12.935 15.8864H8.49347L5.14313 3.43493C4.94 2.66985 4.76348 2.38829 4.14538 2.06478C3.13503 1.53756 1.46656 1.04449 0 0.737756L0.0989219 0.284878H7.24973C8.15973 0.284878 8.97914 0.866927 9.18755 1.87473L10.9578 10.9036L15.3282 0.284878H19.7431ZM25.7475 0.284878L22.2735 15.8864H18.0712L21.5457 0.284878H25.7475ZM37.1461 10.7926C37.1635 6.67571 31.2201 6.44722 31.2589 4.6078C31.2731 4.04859 31.8277 3.45327 33.0415 3.30107C33.6428 3.22634 35.3039 3.16683 37.1855 3.99961L37.9216 0.689171C36.9107 0.337951 35.6096 0 33.9913 0C29.8374 0 26.9155 2.11941 26.8921 5.15668C26.8649 7.40332 28.9792 8.65541 30.5693 9.40371C32.2071 10.1678 32.7563 10.6589 32.7488 11.3419C32.737 12.3887 31.4407 12.8521 30.2356 12.8693C28.1223 12.9015 26.8972 12.3206 25.92 11.8833L25.1572 15.3034C26.1404 15.7362 27.9522 16.1122 29.8289 16.1313C34.2448 16.1313 37.1331 14.0361 37.1461 10.7926ZM48.1148 15.8866H52L48.6058 0.284878H45.0212C44.2128 0.284878 43.5333 0.73561 43.2319 1.42849L36.9269 15.8864H41.3394L42.2147 13.5559H47.6056L48.1148 15.8866ZM43.4247 10.359L45.6371 4.5001L46.9081 10.359H43.4247Z" fill="white" />
            </g>
            <defs>
              <clipPath id="clip0_745_907">
                <rect width="52" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg> </li>
        <li> <svg xmlns="http://www.w3.org/2000/svg" width="42" height="34" viewBox="0 0 42 34" fill="none">
            <g clip-path="url(#clip0_745_909)">
              <path d="M7.63553 33.8313V31.581C7.63553 30.7182 7.1312 30.1558 6.26676 30.1558C5.83462 30.1558 5.36638 30.3058 5.0422 30.7934C4.7902 30.3808 4.43008 30.1558 3.88982 30.1558C3.52954 30.1558 3.16959 30.2682 2.88133 30.6808V30.2308H2.125V33.8313H2.88133V31.8435C2.88133 31.206 3.20552 30.9058 3.70984 30.9058C4.21384 30.9058 4.46617 31.2434 4.46617 31.8435V33.8313H5.2225V31.8435C5.2225 31.206 5.58245 30.9058 6.05069 30.9058C6.55502 30.9058 6.80702 31.2434 6.80702 31.8435V33.8313H7.63553ZM18.8362 30.2308H17.6118V29.1431H16.8555V30.2308H16.1712V30.9432H16.8554V32.5937C16.8554 33.4189 17.1795 33.9063 18.044 33.9063C18.3682 33.9063 18.7281 33.7939 18.9805 33.6439L18.7642 32.9687C18.5481 33.1187 18.2961 33.1563 18.116 33.1563C17.7559 33.1563 17.6118 32.9313 17.6118 32.5561V30.9432H18.8362V30.2308ZM25.2471 30.1556C24.815 30.1556 24.5269 30.3808 24.3468 30.6808V30.2308H23.5904V33.8313H24.3468V31.806C24.3468 31.206 24.5988 30.8684 25.067 30.8684C25.2111 30.8684 25.3912 30.906 25.5352 30.9434L25.7513 30.1933C25.6073 30.1558 25.3912 30.1558 25.2471 30.1558M15.5589 30.531C15.1986 30.2683 14.6945 30.1559 14.1542 30.1559C13.2899 30.1559 12.7138 30.606 12.7138 31.3186C12.7138 31.9188 13.1459 32.2562 13.9022 32.3688L14.2623 32.4064C14.6586 32.4813 14.8746 32.5938 14.8746 32.7814C14.8746 33.0439 14.5865 33.2315 14.0822 33.2315C13.5779 33.2315 13.1818 33.0439 12.9297 32.8564L12.5695 33.4565C12.9658 33.7565 13.506 33.9065 14.0461 33.9065C15.0546 33.9065 15.631 33.4191 15.631 32.7439C15.631 32.1062 15.1627 31.7686 14.4423 31.6562L14.0822 31.6186C13.758 31.581 13.506 31.5062 13.506 31.2812C13.506 31.0186 13.758 30.8686 14.1542 30.8686C14.5865 30.8686 15.0187 31.056 15.2347 31.1686L15.5589 30.531ZM35.6558 30.1559C35.2235 30.1559 34.9354 30.3809 34.7552 30.681V30.2309H33.9989V33.8315H34.7552V31.8062C34.7552 31.2062 35.0074 30.8686 35.4755 30.8686C35.6197 30.8686 35.7998 30.9061 35.9439 30.9436L36.1599 30.1935C36.0159 30.1559 35.7998 30.1559 35.6558 30.1559ZM26.0035 32.0312C26.0035 33.1189 26.7237 33.9065 27.8403 33.9065C28.3445 33.9065 28.7046 33.7941 29.0647 33.4941L28.7046 32.8564C28.4165 33.0815 28.1284 33.1939 27.8042 33.1939C27.1919 33.1939 26.7598 32.7439 26.7598 32.0312C26.7598 31.3562 27.1919 30.906 27.8042 30.8686C28.1284 30.8686 28.4165 30.981 28.7046 31.2062L29.0647 30.5685C28.7046 30.2683 28.3445 30.1559 27.8403 30.1559C26.7237 30.1559 26.0035 30.9436 26.0035 32.0312ZM32.9906 32.0312V30.2309H32.2342V30.681C31.9821 30.3435 31.622 30.1559 31.1537 30.1559C30.1813 30.1559 29.425 30.9436 29.425 32.0312C29.425 33.1189 30.1813 33.9065 31.1537 33.9065C31.6579 33.9065 32.0182 33.7191 32.2342 33.3815V33.8315H32.9906V32.0312ZM30.2173 32.0312C30.2173 31.3936 30.6135 30.8686 31.2617 30.8686C31.874 30.8686 32.3063 31.3562 32.3063 32.0312C32.3063 32.6689 31.874 33.1939 31.2617 33.1939C30.6135 33.1563 30.2173 32.6689 30.2173 32.0312ZM21.1774 30.1559C20.1689 30.1559 19.4485 30.906 19.4485 32.0312C19.4485 33.1565 20.1688 33.9065 21.2133 33.9065C21.7175 33.9065 22.2218 33.7565 22.618 33.4191L22.2578 32.8564C21.9697 33.0815 21.6096 33.2315 21.2494 33.2315C20.7812 33.2315 20.313 33.0065 20.2049 32.3687H22.7621V32.0688C22.7982 30.906 22.15 30.1559 21.1774 30.1559ZM21.1773 30.831C21.6453 30.831 21.9697 31.1312 22.0415 31.6938H20.2408C20.3128 31.2062 20.637 30.831 21.1773 30.831ZM39.9414 32.0312V28.8057H39.1851V30.681C38.9329 30.3435 38.5728 30.1559 38.1046 30.1559C37.1322 30.1559 36.3758 30.9436 36.3758 32.0312C36.3758 33.1189 37.1322 33.9065 38.1046 33.9065C38.6089 33.9065 38.969 33.7191 39.1851 33.3815V33.8315H39.9414V32.0312ZM37.1683 32.0312C37.1683 31.3936 37.5643 30.8686 38.2127 30.8686C38.825 30.8686 39.2571 31.3562 39.2571 32.0312C39.2571 32.6689 38.825 33.1939 38.2127 33.1939C37.5643 33.1563 37.1683 32.6689 37.1683 32.0312ZM11.8851 32.0312V30.2309H11.1287V30.681C10.8766 30.3435 10.5165 30.1559 10.0482 30.1559C9.07584 30.1559 8.31951 30.9436 8.31951 32.0312C8.31951 33.1189 9.07584 33.9065 10.0482 33.9065C10.5526 33.9065 10.9127 33.7191 11.1287 33.3815V33.8315H11.8851V32.0312ZM9.07584 32.0312C9.07584 31.3936 9.47205 30.8686 10.1203 30.8686C10.7325 30.8686 11.1648 31.3562 11.1648 32.0312C11.1648 32.6689 10.7325 33.1939 10.1203 33.1939C9.47205 33.1563 9.07584 32.6689 9.07584 32.0312Z" fill="white" />
              <path d="M15.3066 2.8877H26.6516V24.1165H15.3066V2.8877Z" fill="#FF5F00" />
              <path d="M16.0271 13.5024C16.0271 9.18923 17.9719 5.36346 20.9611 2.88795C18.7643 1.08766 15.9912 0 12.9659 0C5.79846 0 0 6.0385 0 13.5024C0 20.9664 5.79846 27.0049 12.9657 27.0049C15.991 27.0049 18.7642 25.9172 20.9611 24.1168C17.9719 21.6788 16.0271 17.8157 16.0271 13.5024Z" fill="#EB001B" />
              <path d="M41.9583 13.5024C41.9583 20.9662 36.1598 27.0049 28.9926 27.0049C25.9673 27.0049 23.1942 25.9172 20.9972 24.1168C24.0225 21.6414 25.9314 17.8157 25.9314 13.5024C25.9314 9.18923 23.9864 5.36346 20.9972 2.88795C23.194 1.08766 25.9673 0 28.9926 0C36.1598 0 41.9583 6.07609 41.9583 13.5024Z" fill="#F79E1B" />
            </g>
            <defs>
              <clipPath id="clip0_745_909">
                <rect width="42" height="34" fill="white" />
              </clipPath>
            </defs>
          </svg> </li>
        <li> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="28" viewBox="0 0 25 28" fill="none">
            <g clip-path="url(#clip0_745_914)">
              <path d="M21.2078 2.179C19.8471 0.706493 17.3873 0.0751953 14.2405 0.0751953H5.10772C4.79636 0.0751497 4.4952 0.180586 4.25842 0.372538C4.02163 0.56449 3.86476 0.830359 3.81602 1.12232L0.0132861 24.0199C-0.0622998 24.4714 0.305962 24.8803 0.787993 24.8803H6.42627L7.84229 16.3532L7.79834 16.6202C7.89922 16.0175 8.44219 15.5729 9.08516 15.5729H11.7645C17.0279 15.5729 21.1493 13.5432 22.3532 7.67163C22.389 7.49798 22.4199 7.32896 22.4467 7.16383C22.2947 7.08743 22.2947 7.08743 22.4467 7.16383C22.8052 4.99365 22.4442 3.51641 21.2078 2.179Z" fill="#27346A" />
              <path d="M9.99971 6.38206C10.1538 6.31226 10.3224 6.27615 10.4932 6.27636H17.6531C18.501 6.27636 19.2918 6.32874 20.0145 6.43917C20.2167 6.4698 20.4178 6.50635 20.6177 6.54876C20.9009 6.60811 21.1809 6.68073 21.4566 6.76636C21.8118 6.87901 22.1427 7.0102 22.4468 7.16383C22.8052 4.99281 22.4442 3.51641 21.2078 2.179C19.8463 0.706493 17.3873 0.0751953 14.2405 0.0751953H5.10694C4.46387 0.0751953 3.9168 0.519672 3.81602 1.12232L0.0132867 24.0191C-0.0622993 24.4714 0.305962 24.8797 0.787212 24.8797H6.42628L9.36407 7.19239C9.39298 7.01854 9.46593 6.85397 9.57666 6.71282C9.68738 6.57166 9.83256 6.45815 9.99971 6.38206Z" fill="#27346A" />
              <path d="M22.3532 7.67186C21.1493 13.5426 17.028 15.5731 11.7645 15.5731H9.08438C8.44142 15.5731 7.89835 16.0177 7.79845 16.6205L6.03683 27.2229C5.97101 27.6181 6.29288 27.9761 6.71397 27.9761H11.4669C11.7392 27.9761 12.0025 27.8838 12.2095 27.7159C12.4165 27.5479 12.5536 27.3154 12.5961 27.0601L12.6424 26.8302L13.5382 21.4401L13.5959 21.1422C13.6385 20.8869 13.7755 20.6544 13.9825 20.4865C14.1895 20.3185 14.4528 20.2262 14.725 20.2262H15.4363C20.0405 20.2262 23.6457 18.4503 24.6992 13.3142C25.139 11.1679 24.9114 9.37588 23.7482 8.11717C23.3953 7.73593 22.9571 7.42107 22.4467 7.16406C22.4191 7.33002 22.3891 7.49821 22.3532 7.67186Z" fill="#2790C3" />
              <path d="M21.1867 6.687C20.999 6.63497 20.8095 6.58889 20.6186 6.54886C20.4186 6.50713 20.2175 6.47083 20.0153 6.44001C19.2919 6.32885 18.5017 6.27637 17.653 6.27637H10.494C10.3231 6.2761 10.1544 6.31252 10.0005 6.3829C9.83313 6.45873 9.68776 6.57215 9.57698 6.71335C9.4662 6.85455 9.39336 7.01927 9.36476 7.19323L7.84308 16.3533L7.79913 16.6203C7.89923 16.0176 8.4422 15.573 9.08527 15.573H11.7653C17.0288 15.573 21.1501 13.5433 22.354 7.67173C22.3899 7.49808 22.4199 7.3298 22.4476 7.16393C22.1428 7.01126 21.8127 6.87902 21.4573 6.7672C21.3677 6.73898 21.2775 6.71224 21.1868 6.687" fill="#1F264F" />
            </g>
            <defs>
              <clipPath id="clip0_745_914">
                <rect width="25" height="28" fill="white" />
              </clipPath>
            </defs>
          </svg></li>
        <li> <svg xmlns="http://www.w3.org/2000/svg" width="35" height="24" viewBox="0 0 35 24" fill="none">
            <g clip-path="url(#clip0_745_919)">
              <path d="M32.6667 24H2.33333C1.71449 24 1.121 23.7471 0.683417 23.297C0.245833 22.8469 0 22.2365 0 21.6L0 11.504H1.68097L2.06014 10.56H2.90889L3.28708 11.5H6.59458V10.785L6.89014 11.505H8.60708L8.90264 10.773V11.503H17.1208V9.95895H17.2764C17.3872 9.96295 17.4193 9.97295 17.4193 10.163V11.505H21.6708V11.146C22.1054 11.373 22.6178 11.506 23.1612 11.506L23.2536 11.505H23.2488H25.0376L25.4207 10.565H26.2694L26.6438 11.505H30.0912V10.611L30.6124 11.505H33.3696V5.60095H30.6406V6.29795L30.2585 5.60095H27.4526V6.29795L27.1017 5.60095H23.3129C22.7389 5.57112 22.167 5.69263 21.6514 5.95395L21.6718 5.94495V5.60095H19.0585V5.94495C18.7421 5.68851 18.3426 5.56583 17.9414 5.60195H17.9472H8.39708L7.75639 7.12695L7.09819 5.60195H4.09014V6.29895L3.75861 5.60195H1.19194L0.00291667 8.40195V2.40195C0.00291667 1.76543 0.248749 1.15498 0.686334 0.704897C1.12392 0.25481 1.71741 0.00195313 2.33625 0.00195312H32.6696C33.2884 0.00195313 33.8819 0.25481 34.3195 0.704897C34.7571 1.15498 35.0029 1.76543 35.0029 2.40195V12.882H33.1819C33.1528 12.88 33.1178 12.88 33.0837 12.88C32.6618 12.88 32.27 13.01 31.9433 13.233L31.9511 13.228V12.882H29.2581C28.8373 12.858 28.4211 12.981 28.0768 13.231L28.0826 13.227V12.881H23.274V13.227C22.8804 12.9986 22.4358 12.8794 21.9839 12.881H21.946H21.9479H18.7756V13.227C18.3611 12.9539 17.8693 12.8323 17.3794 12.882L17.3882 12.881H13.8386L13.0258 13.785L12.2656 12.881H6.96306V18.789H12.1664L13.0035 17.871L13.7919 18.789H16.9993V17.406H17.4465C17.8766 17.4232 18.3054 17.3494 18.7065 17.189L18.6851 17.197V18.791H21.3296V17.252H21.4569C21.6183 17.252 21.6349 17.258 21.6349 17.426V18.792H29.6712L29.7694 18.794C30.2303 18.794 30.66 18.652 31.0178 18.409L31.009 18.414V18.792H33.5582L33.6797 18.794C34.1571 18.794 34.6111 18.693 35.0233 18.51L35.001 18.519V21.601C35.001 22.2375 34.7551 22.8479 34.3176 23.298C33.88 23.7481 33.2865 24.001 32.6676 24.001L32.6667 24ZM20.5187 17.961H19.529V13.726H21.8001C22.2103 13.6868 22.6233 13.7578 22.9989 13.932L22.9833 13.926C23.2876 14.098 23.4908 14.426 23.4908 14.802L23.4889 14.869V14.866L23.4899 14.904C23.4899 15.39 23.205 15.808 22.7967 15.99L22.7889 15.993C22.9843 16.065 23.1476 16.188 23.2692 16.347L23.2711 16.349C23.4084 16.5827 23.4659 16.8568 23.4344 17.128L23.4354 17.122V17.96H22.4476V17.43C22.4944 17.1414 22.4381 16.8452 22.2892 16.596L22.2921 16.601C22.1895 16.5208 22.0721 16.4629 21.9471 16.4308C21.8221 16.3987 21.6921 16.3929 21.5649 16.414L21.5707 16.413H20.5187V17.96V17.961ZM20.5187 14.601V15.552H21.7146C21.8834 15.568 22.0534 15.5369 22.2065 15.462L22.2007 15.465C22.2633 15.4234 22.3147 15.3664 22.3504 15.2992C22.386 15.2319 22.4048 15.1566 22.4049 15.08L22.4039 15.057C22.4087 14.9805 22.3924 14.9053 22.3567 14.838C22.3211 14.7707 22.2677 14.7152 22.2026 14.678L22.2007 14.677C22.0531 14.6091 21.8911 14.5815 21.7301 14.597H21.734L20.5187 14.601ZM11.7444 17.96H7.84875V13.726H11.8057L13.0161 15.114L14.2674 13.726H17.4106C18.5267 13.726 19.0692 14.183 19.0692 15.121C19.0692 16.076 18.5082 16.54 17.3581 16.54H16.1282V17.959H14.2158L13.0044 16.56L11.7444 17.96ZM15.1482 14.18L13.6374 15.85L15.1482 17.574V14.18ZM8.82972 16.235V17.077H11.2486L12.3667 15.835L11.2914 14.601H8.82875V15.371H10.989V16.234L8.82972 16.235ZM16.1282 14.602V15.68H17.3989C17.7878 15.68 18.0114 15.476 18.0114 15.12C18.0114 14.78 17.8033 14.601 17.4096 14.601L16.1282 14.602ZM33.6651 17.962H31.7654V17.052H33.6574C33.7989 17.072 33.9425 17.0339 34.0569 16.946L34.056 16.947C34.0925 16.9121 34.1216 16.8699 34.1415 16.8229C34.1614 16.7759 34.1717 16.7252 34.1717 16.674V16.658C34.1717 16.6073 34.1611 16.5573 34.1404 16.5114C34.1198 16.4654 34.0896 16.4247 34.0521 16.392C33.9515 16.3172 33.8274 16.2836 33.704 16.298H33.706L33.5242 16.292C32.6356 16.268 31.6293 16.24 31.6293 14.987C31.6293 14.377 32.0007 13.726 33.04 13.726H35.001V14.628H33.2072C33.0687 14.612 32.9287 14.6407 32.8067 14.71L32.8106 14.708C32.7626 14.7404 32.724 14.7856 32.6988 14.8388C32.6737 14.8919 32.6629 14.9511 32.6676 15.01V15.009V15.02C32.6676 15.0873 32.6883 15.153 32.7267 15.2076C32.7651 15.2622 32.8193 15.3029 32.8815 15.324L32.8835 15.325C33.0067 15.364 33.1358 15.3803 33.2646 15.373H33.2617L33.7954 15.387C34.1978 15.3457 34.5997 15.4689 34.9144 15.73L34.9115 15.728C34.9407 15.752 34.966 15.778 34.9883 15.807L34.9893 15.808L35.001 17.42C34.8375 17.6165 34.6295 17.7686 34.3953 17.8629C34.1612 17.9573 33.9081 17.9909 33.6583 17.961L33.6651 17.962ZM29.8258 17.962H27.9086V17.052H29.8161C29.9588 17.0712 30.1033 17.0332 30.2196 16.946L30.2176 16.947C30.2539 16.912 30.2829 16.8697 30.3026 16.8227C30.3223 16.7758 30.3325 16.7251 30.3324 16.674V16.664C30.3323 16.6125 30.3216 16.5616 30.301 16.5147C30.2804 16.4678 30.2503 16.426 30.2128 16.392C30.1104 16.3171 29.9847 16.2836 29.8599 16.298H29.8618L29.681 16.292C28.7953 16.268 27.79 16.24 27.79 14.987C27.79 14.377 28.1594 13.726 29.1968 13.726H31.1685V14.628H29.364C29.2264 14.6122 29.0874 14.6408 28.9664 14.71L28.9703 14.708C28.9192 14.7441 28.8786 14.7938 28.8527 14.8517C28.8268 14.9096 28.8166 14.9737 28.8232 15.0371C28.8297 15.1005 28.8528 15.1609 28.89 15.2119C28.9272 15.263 28.9771 15.3027 29.0344 15.327L29.0364 15.328C29.1613 15.3673 29.292 15.3836 29.4224 15.376H29.4194L29.9493 15.39C30.3538 15.3499 30.7575 15.4732 31.0751 15.734L31.0722 15.731C31.1791 15.8521 31.2603 15.9947 31.3108 16.1498C31.3614 16.3049 31.3801 16.4691 31.3658 16.632V16.627C31.3688 17.51 30.8486 17.96 29.8229 17.96L29.8258 17.962ZM27.3194 17.962H24.0333V13.725H27.3165V14.6H25.0153V15.37H27.2631V16.233H25.0153V17.075L27.3194 17.079V17.959V17.962ZM29.2347 10.676H27.231L26.8479 9.73195H24.8043L24.4329 10.676H23.2818C22.7649 10.704 22.2558 10.5365 21.8507 10.205L21.8556 10.208C21.6631 9.98947 21.517 9.73213 21.4266 9.45234C21.3362 9.17256 21.3035 8.87647 21.3306 8.58295L21.3296 8.59095C21.3045 8.29203 21.3389 7.991 21.4305 7.70615C21.522 7.4213 21.669 7.15858 21.8624 6.93395L21.8604 6.93595C22.0646 6.75234 22.3033 6.6139 22.5617 6.52926C22.8201 6.44462 23.0927 6.41558 23.3625 6.44395L23.3547 6.44295H24.3075V7.34595H23.3742C23.2376 7.32786 23.0988 7.34097 22.9678 7.38436C22.8367 7.42774 22.7165 7.50033 22.6158 7.59695L22.6168 7.59595C22.4089 7.86976 22.308 8.21358 22.3339 8.55995V8.55495C22.3029 8.91082 22.4001 9.26599 22.6071 9.55295L22.6042 9.54895C22.7974 9.71142 23.0448 9.78966 23.2935 9.76695H23.2896H23.731L25.1222 6.43695H26.6L28.2654 10.437V6.43695H29.7636L31.4922 9.38495V6.43695H32.5033V10.669H31.0994L29.2328 7.49095V10.669L29.2347 10.676ZM25.8329 7.15795L25.1553 8.84595H26.5135L25.8329 7.15795ZM16.3061 10.674H15.3222V6.43995H17.5856C17.9987 6.39586 18.4158 6.4681 18.7921 6.64895L18.7775 6.64295C18.9288 6.72902 19.055 6.85519 19.1428 7.00836C19.2307 7.16153 19.2771 7.3361 19.2772 7.51395L19.2753 7.58395V7.58095V7.61195C19.2754 7.84291 19.2106 8.06898 19.0889 8.26303C18.9671 8.45708 18.7935 8.61088 18.5889 8.70595L18.5811 8.70895C18.7765 8.78495 18.9408 8.90695 19.0662 9.06295L19.0682 9.06495C19.2069 9.29953 19.2641 9.57557 19.2306 9.84795L19.2315 9.84195V10.673H18.2389L18.235 10.139V10.059C18.2703 9.79785 18.2141 9.53234 18.0765 9.30995L18.0794 9.31495C17.9765 9.23714 17.8595 9.18109 17.7354 9.15002C17.6112 9.11895 17.4823 9.11349 17.3561 9.13395L17.3619 9.13295H16.3071V10.673L16.3061 10.674ZM16.3061 7.32095V8.26095H17.5C17.6687 8.27977 17.839 8.24854 17.991 8.17095L17.9861 8.17295C18.0484 8.13401 18.0999 8.07925 18.1356 8.01393C18.1714 7.9486 18.1902 7.87492 18.1903 7.79995L18.1893 7.77195C18.1943 7.69597 18.1775 7.62116 18.141 7.55487C18.1046 7.48859 18.05 7.43474 17.9842 7.39995L17.9822 7.39895C17.8343 7.33366 17.6732 7.30621 17.5126 7.31895H17.5156L16.3061 7.32095ZM5.88778 10.674H3.88889L3.51069 9.72995H1.46125L1.08014 10.674H0.0106944L1.77333 6.43995H3.23458L4.90778 10.447V6.43995H6.51292L7.80014 9.31095L8.98333 6.43995H10.6215V10.672H9.61042L9.60847 7.35995L8.18222 10.673H7.31889L5.88875 7.35495V10.673L5.88778 10.674ZM2.48111 7.15795L1.81125 8.84595H3.15486L2.48111 7.15795ZM20.8444 10.673H19.8411V6.43995H20.8454V10.672L20.8444 10.673ZM14.6358 10.673H11.3556V6.43995H14.6417V7.31995H12.3394V8.08295H14.5863V8.95195H12.3375V9.79795H14.6397V10.672L14.6358 10.673Z" fill="white" />
            </g>
            <defs>
              <clipPath id="clip0_745_919">
                <rect width="35" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg> </li>
      </ul>
    </div>

    
    
    
    


    
  </div>
  {% liquid
    assign country_code = localization.country.iso_code | upcase
  %}
      <div class="footer--second-row page-container">
      {% if country_code == 'PH' %}
        <a href="/" class="footer--logo"><img src="https://cdn.shopify.com/s/files/1/0617/9550/0074/files/npta-logo-ph.png?v=1757725169"> </a>
      {% else %}
        <a href="/" class="footer--logo"><img src="https://cdn.shopify.com/s/files/1/0617/9550/0074/files/NPTA_logo_whit.png?v=1737406899"> </a>
      {% endif %}
          <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path d="M1.826 11.801 1 12.156s4.844 4.214 4.966 4.33c.241.234.472.352.241 1.055-.241.703-.476 1.645-.476 1.645s4.495-.942 4.972-1.059c.411-.042.864.117.864.586 0 .473-.274 5.286-.274 5.286h1.416s-.274-4.813-.274-5.287c0-.469.448-.628.869-.586.472.117 4.966 1.059 4.966 1.059s-.236-.942-.472-1.645c-.237-.703 0-.82.236-1.055.118-.117 4.966-4.33 4.966-4.33l-.826-.352c-.472-.23-.349-.539-.236-.816.114-.356.949-3.155.949-3.155s-2.252.469-2.724.586c-.354.112-.472-.117-.59-.352s-.708-1.519-.708-1.519-2.484 2.808-2.602 2.92c-.472.352-.949 0-.831-.469 0-.469 1.303-6.074 1.303-6.074s-1.421.816-1.894 1.05c-.354.234-.595.234-.831-.234C13.77 3.389 11.994 0 11.994 0l.001.002s-1.771 3.389-2.006 3.741c-.236.468-.472.468-.831.233-.472-.234-1.894-1.05-1.894-1.05S8.567 8.531 8.567 9c.119.47-.354.821-.83.47-.118-.117-2.602-2.92-2.602-2.92s-.59 1.28-.708 1.514c-.117.234-.235.464-.59.352-.476-.117-2.724-.586-2.724-.586s.831 2.798.949 3.155c.113.281.235.586-.236.816Z" fill="#E9F24F"/></svg>
NASM official Canadian partner </p>
    </div>
  
  
      <div class="footer--third-row page-container">
   
          <p>© 2025 National Personal Training Academy Inc. All rights reserved.</p>
          <div class="footer--term-links">    
              <ul> 
                <li><a href="/pages/privacy-policy">Privacy Policy </a> </li>
                <!--<li><a href="/pages/terms-conditions">Terms of Service </a> </li>-->
                <li><a href="#">Cookies Settings </a> </li>
              </ul>
          </div>
    </div>
  
  
</div>

<style>

  #equally-ai___init-button{
      bottom: 20px !important;
    right: 100px !important;
    width: 58px !important;
    height: 58px !important;
  }

  
  @media only screen and (min-width: 1281px) {
.footer--container {
  display: grid;
  grid-template-columns: 20% 20% 20% auto;

  grid-column-gap: 50px;

}
}
@media only screen and (min-width: 981px) and (max-width: 1280px) {
.footer--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
grid-row-gap: 50px;
  grid-column-gap: 50px;

}
}
  @media only screen and (min-width: 768px) and (max-width: 980px) {
.footer--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
grid-row-gap: 50px;
  grid-column-gap: 50px;

}
}
    @media only screen and (max-width: 768px) {
.footer--container {
  display: grid;
  grid-template-columns: 1fr;
grid-row-gap: 50px;
  grid-column-gap: 50px;

}
}
  
  
.section--footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(180deg, #17293f, #133051);

  padding: 80px 0 10px 0;
}

.footer-menu-column {
  width: 100%;
}

.footer-menu-title {
  color: #e9f24f !important;
  -webkit-text-fill-color: #e9f24f;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 104%; /* 18.72px */
  text-transform: uppercase;
}

.footer-menu-list {
  display: flex;
  vertical-align: middle;
  text-align: left;
  flex-wrap: wrap;
}
.footer-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-list li {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.footer-menu-list a {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: 1.12px;
  text-transform: uppercase;
}
.footer-menu-list a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-menu-list a:before,
a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: #fff;
}

.footer-menu-list a:before {
  left: 0;
}
.footer-menu-list a:after {
  right: 0;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.footer-menu-list a:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.footer-menu-list a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
.footer--social ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.footer--social ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer--social ul li a svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}
.footer--social ul li:hover a svg {
  fill: #141414;
  transition: 300ms;
}
.footer--social ul li {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.12);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 32px;
  height: 32px;

  justify-content: center;
  align-items: center;
}

.footer--social ul li:hover {
  transition: 300ms;
  background: #e9f24f;
}

.footer-settings-column ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0;
  flex-wrap: wrap;
}

.footer-settings-column ul li svg {
  max-height: 28px;
}

  @media only screen and (max-width: 768px) {
    .footer--second-row {
  flex-wrap:wrap;
}
    .footer--second-row p {

  text-align: left !important;
      
}
  }
  
.footer--second-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;
  padding-top: 80px;
  padding-bottom:30px;
}

.footer--second-row img {
  max-height: 62px;
}

.footer--second-row p {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 104%;
  text-transform: uppercase;
  text-align: right;
}
  .footer--second-row p{
display:flex;
    align-items:Center;
    gap: 10px;
}
@media only screen and (max-width: 980px) {
  .footer--third-row {
flex-wrap:wrap;
}
.footer--term-links ul{
  flex-wrap:wrap;
    gap: 10px !important; 
}
}


  
.footer--third-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1280px;
  margin-top: 20px;

  border-top: 1px solid #5a6d83;
  padding-top: 36px;
}

.footer--third-row p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.footer--term-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.footer--term-links ul li a {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
}

</style>

 <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },



  ],
  "settings": [
  
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },

  ],

}
{% endschema %}
