{% schema %}
{
  "name": "Multi Column ",
  "settings": [
         {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "default": "certified-trainers"
    },
 {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "container_width",
      "label": "Container width",
      "min": 200,
      "max": 2000,
      "step": 20,
      "unit": "px",
      "default": 980
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Flex Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Flex End"
        }
      ],
      "default": "center"
    },
       {
      "type": "text",
      "id": "view_button_text",
      "label": "Button Text",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "view_all_button_link",
      "label": "Button Link",
      "default": "/"
    },
    {
      "type": "richtext",
      "id": "program_footer_description",
      "label": "Short Description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> "
    },

    
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
       
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "LOWEST PRICE GUARANTEED"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Discover the best deals with us! If you stumble upon a lower price elsewhere, simply reach out to us and we'll gladly match it."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi Column",
      "category": "Custom",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}

<section class="section--multi-column" id="{{ section.settings.section_id }}">
    <div class="section--multi-column-container page-container ">

    
   <div class="section--title-block-dark page-container" style="display: flex; justify-content: {{ section.settings.alignment }};">
  <div style="max-width: {{ section.settings.container_width }}px;">
    <h2 style="text-align: {{ section.settings.title_alignment }};">{{ section.settings.section_title }}</h2>
    <div style="text-align: {{ section.settings.title_alignment }};">{{ section.settings.section_description }}</div>
  </div>
</div>


    
    <div class="column-list">
      {% for block in section.blocks %}
        <div class="column-item">
          <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="22" viewBox="0 0 34 22" fill="none">
  <path d="M26.5624 2.50049V19.5005C26.5624 20.0641 26.3385 20.6046 25.94 21.0031C25.5415 21.4016 25.001 21.6255 24.4374 21.6255H22.3124C21.7488 21.6255 21.2083 21.4016 20.8098 21.0031C20.4113 20.6046 20.1874 20.0641 20.1874 19.5005V12.063H13.8124V19.5005C13.8124 20.0641 13.5885 20.6046 13.19 21.0031C12.7915 21.4016 12.251 21.6255 11.6874 21.6255H9.56239C8.99881 21.6255 8.45831 21.4016 8.05979 21.0031C7.66128 20.6046 7.43739 20.0641 7.43739 19.5005V2.50049C7.43739 1.9369 7.66128 1.3964 8.05979 0.997886C8.45831 0.599371 8.99881 0.375488 9.56239 0.375488H11.6874C12.251 0.375488 12.7915 0.599371 13.19 0.997886C13.5885 1.3964 13.8124 1.9369 13.8124 2.50049V9.93799H20.1874V2.50049C20.1874 1.9369 20.4113 1.3964 20.8098 0.997886C21.2083 0.599371 21.7488 0.375488 22.3124 0.375488H24.4374C25.001 0.375488 25.5415 0.599371 25.94 0.997886C26.3385 1.3964 26.5624 1.9369 26.5624 2.50049ZM4.78114 3.56299H4.24989C3.68631 3.56299 3.14581 3.78687 2.74729 4.18539C2.34878 4.5839 2.12489 5.1244 2.12489 5.68799V9.93799H1.09825C0.823684 9.93393 0.557765 10.034 0.353989 10.2181C0.150213 10.4021 0.0236975 10.6565 -0.0001069 10.9301C-0.00975695 11.0754 0.0105785 11.2212 0.0596362 11.3583C0.108694 11.4955 0.185426 11.6211 0.285067 11.7273C0.384708 11.8336 0.505129 11.9182 0.63885 11.9759C0.772572 12.0337 0.916738 12.0633 1.06239 12.063H2.12489V16.313C2.12489 16.8766 2.34878 17.4171 2.74729 17.8156C3.14581 18.2141 3.68631 18.438 4.24989 18.438H4.78114C4.92204 18.438 5.05716 18.382 5.15679 18.2824C5.25642 18.1828 5.31239 18.0476 5.31239 17.9067V4.09424C5.31239 3.95334 5.25642 3.81822 5.15679 3.71859C5.05716 3.61896 4.92204 3.56299 4.78114 3.56299ZM33.9999 10.9301C33.9761 10.657 33.85 10.403 33.6468 10.219C33.4436 10.035 33.1783 9.93461 32.9042 9.93799H31.8749V5.68799C31.8749 5.1244 31.651 4.5839 31.2525 4.18539C30.854 3.78687 30.3135 3.56299 29.7499 3.56299H29.2186C29.0777 3.56299 28.9426 3.61896 28.843 3.71859C28.7434 3.81822 28.6874 3.95334 28.6874 4.09424V17.9067C28.6874 18.0476 28.7434 18.1828 28.843 18.2824C28.9426 18.382 29.0777 18.438 29.2186 18.438H29.7499C30.3135 18.438 30.854 18.2141 31.2525 17.8156C31.651 17.4171 31.8749 16.8766 31.8749 16.313V12.063H32.9374C33.083 12.0633 33.2272 12.0337 33.3609 11.9759C33.4947 11.9182 33.6151 11.8336 33.7147 11.7273C33.8144 11.6211 33.8911 11.4955 33.9402 11.3583C33.9892 11.2212 34.0095 11.0754 33.9999 10.9301Z" fill="#E9F24F"/>
</svg></div>
          <h3>{{ block.settings.title }}</h3>
          <p>{{ block.settings.content }}</p>
        </div>
      {% endfor %}
    </div>

              <div class="container--footer is--centered"> 


                <form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
  <input type="hidden" name="quantity" value="1" />
  <button
    id="ProductSubmitButton-{{ section_id }}"
    type="submit"
    name="add"
    class="product-form__submit button btn button-yg"
    {% if product.selected_or_first_available_variant.available == false
      or quantity_rule_soldout
      or product.selected_or_first_available_variant == nil
    %}
      disabled
    {% endif %}
  >
    <span>
                 {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                 
                      <span class="btn-label-down">Out of Stock</span>
                      <span class="btn-label-down">Out of Stock</span>
                 {%- else -%}
                  <span class="btn-label-down">Buy Now</span>
            <span class="btn-label-down">Buy Now</span>
                {%- endif -%}
              
         
            </span>
    {%- render 'loading-spinner' -%}
  </button>
</form>

  </div>
  </div>

            
  
            
</section>

<style>

@media only screen and (min-width: 1281px) {
  .column-list {
  display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap:45px;
  grid-row-gap: 30px;
  margin-top:50px;
}
}

  @media only screen and (min-width: 1081px) and (max-width: 1280px) {
  .column-list {
  display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap:25px;
  grid-row-gap: 30px;
  margin-top:50px;

}
}
    @media only screen and (min-width: 768px) and (max-width: 1080px) {
  .column-list {
  display: grid;
 grid-template-columns: 1fr 1fr ;
  grid-column-gap:45px;
  grid-row-gap: 30px;


}
}
      @media only screen and (max-width:768px) {
  .column-list {
  display: grid;
 grid-template-columns: 1fr ;
  grid-column-gap:45px;
  grid-row-gap: 30px;


}
}
  
.section--multi-column{
      padding-top:80px;
    padding-bottom:80px;
  background:#133257;
}
  .section--title-block-dark h2 {
    color: #fff;
    font-family: var(--font-heading-family);
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 112%;
    text-transform: uppercase;
}
    .section--title-block-dark p {
    color: #fff;
    font-family: var(--font-body-family);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
      opacity: 0.8;
}


  .section--multi-column .column-list h3{
 color: #FFF;
    font-family: var(--font-heading-family);
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 104%; 
text-transform: uppercase;
    margin-top:0;
    margin-bottom:7px;
}

    .section--multi-column .column-list p{
 color: #FFF;
    font-family: var(--font-body-family);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}





.column-item {
  flex: 1;
  margin: 10px;
}
.container--footer.is--centered {
    display: flex;
    justify-content: center;
    flex-wrap: Wrap;
}

  .column-item .icon{
    margin-bottom:10px;
  }

</style>

