<style>
.section-footer-description{
  width:100%;
  margin-top: 20px;
}

@media only screen and (min-width: 981px) {
  .section--process .process-steps {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-column-gap:34px;
  grid-row-gap:70px;
}
   .step:nth-child(4) .step-content::after, .step:nth-child(5) .step-content::after, .step:nth-child(6) .step-content::after{
      border-bottom: 0px solid #D0D0D0 !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .section--process .process-steps {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-column-gap:34px;
  grid-row-gap:70px;
}
   .step:nth-child(5) .step-content::after, .step:nth-child(6) .step-content::after{
      border-bottom: 0px solid #D0D0D0 !important;
  }
}

  @media only screen and (max-width: 768px) {
    .section--process .process-steps {
    display: grid;
    grid-template-columns:1fr ;
    grid-column-gap:34px;
    grid-row-gap:20px;
  }
       .step:nth-child(4) .step-content::after, .step:nth-child(5) .step-content::after, .step:nth-child(6) .step-content::after{
      border-bottom: 1px solid #D0D0D0 !important;
  }
}
.process-steps{
  overflow:hidden;
}
#{{ section.settings.section_id }} .section--title-block h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: var(--font-anton);
  font-weight:400;
  color: #0F828C;
  font-size: clamp(32px,4.3vw,64px);
}
  
.section--process {
  background:  #F7F8FA;
  padding-top:80px;
  padding-bottom:80px;
}
.section--process .section--process-container {
  margin: 0 auto;
}
.step-content h3 {
  font-size: 2em;
  margin-bottom: 20px;
}
.step-content  {
  border-left: 1px solid #D0D0D0;
  padding-left: 30px;
  position:relative;
}
.step-content:after{
  content:'';
  position:absolute;
  bottom:-34px;
  width:100%;
  border-bottom: 1px solid #D0D0D0;
}

@media only screen and (max-width: 768px) {
   .step-content:after{
     display:none;
  }
}

.step-content p {
  margin-bottom: 40px;
}

#{{ section.settings.section_id }} .section--process .step-count span {
  font-family: var(--font-anton);
  font-weight:400;
  color: #28666E;
  font-size: clamp(32px,4.3vw,64px);
  text-transform: uppercase;
}
#{{ section.settings.section_id }} .section--process .step-content h3 {
  color: #0F828C;
  font-family: var(--font-adirek800);
  font-size: clamp(18px,2.3vw,36px);
  font-weight: 800;
  text-transform: uppercase;
  margin-top:0;
  margin-bottom:10px;
}
.section--process .step-content  p {
  color:  #141414;
  font-family: var(--font-body-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  margin-bottom:0;
}
  @media only screen and (min-width: 981px) {
  .section--process .step {
    flex: 1;
    padding: 0 10px;
    align-items: center;
  }
}

@media only screen and (max-width: 980px) {
  .section--process{
  }
  .section--process .step {
    width:100%;
  }
  .section--process .step {
    padding: 20px 0px;
  }
}
.step{
  display:grid;
  grid-template-columns: 50px auto;
  gird-colum
}
</style>
{% stylesheet %}

{% endstylesheet %}


<section class="section--process" id="{{ section.settings.section_id }}" style="background-color: {{ section.settings.background_color }};">
  <div class="section--process-container page-container " style="max-width: {{ section.settings.container_width }}px;">

<div class="section--title-block page-container" style="display: flex; justify-content: {{ section.settings.alignment }};">
  <div>
    <h2 style="text-align: {{ section.settings.title_alignment }};">{{ section.settings.section_title }}</h2>
    <div class="title-block--desc" style="text-align: {{ section.settings.title_alignment }};">{{ section.settings.section_description }}</div>
  </div>
</div>
    
    <div class="process-steps">
      {% for block in section.blocks %}
        <div class="step">
          <div class="step-count">
            <span>{{ forloop.index }}</span>
          </div>
          <div class="step-content">
            <h3>{{ block.settings.step_title }}</h3>
            <p>{{ block.settings.step_description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>





  </div>
      {% if section.settings.show_program_button %}
       <div class="container--footer" style="display: flex; flex-wrap:wrap; justify-content: {{ section.settings.alignment }};"> 
    <div class="button-wrap" style="display: flex; justify-content: {{ section.settings.alignment }};">
    <a href="{{ section.settings.program_button_link }}" class="btn button-yg">
            <span class="btn-label-down">{{ section.settings.button_text }}</span>
            <span class="btn-label-down">{{ section.settings.button_text }}</span>
          
        </a>
        </div>
         <div class="section-footer-description rte-link" style="text-align: {{ section.settings.title_alignment }};">
    {{ section.settings.section_footer_description }} 
  </div>
        </div>
          {% endif %}
</section>

{% schema %}
{
  "name": "Progress Section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
     {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "default": "certified-trainers"
    },
    
   {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "container_width",
      "label": "Container width",
      "min": 200,
      "max": 2000,
      "step": 20,
      "unit": "px",
      "default": 980
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Flex Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Flex End"
        }
      ],
      "default": "center"
    },
        {
      "type": "checkbox",
      "id": "show_program_button",
      "label": "Display Program Button",
      "default": true
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "program_button_link",
      "label": "Button Link",
      "default": "/"
    },
        {
      "type": "richtext",
      "id": "section_footer_description",
      "label": "Section Footer Description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
    },
  
       
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step",
      "settings": [
        {
          "type": "text",
          "id": "step_title",
          "label": "Step Title",
          "default": "Lorem Ipsum"
        },
        {
          "type": "textarea",
          "id": "step_description",
          "label": "Step Description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Process Section",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}