{% schema %}
{
  "name": "Trainer Cards",
  "settings": [
  {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "default": "certified-trainers"
    },
    
   {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "container_width",
      "label": "Container width",
      "min": 200,
      "max": 2000,
      "step": 20,
      "unit": "px",
      "default": 980
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Flex Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Flex End"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "trainer",
      "name": "Trainer",
      "settings": [
        {
          "type": "image_picker",
          "id": "trainer_image",
          "label": "Trainer Image"
        },
        {
          "type": "text",
          "id": "trainer_position",
          "label": "Position"
        },
        {
          "type": "text",
          "id": "trainer_name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "trainer_certification",
          "label": "Certification"
        },
        {
          "type": "url",
          "id": "facebook_url",
          "label": "Facebook URL"
        },
        {
          "type": "url",
          "id": "instagram_url",
          "label": "Instagram URL"
        },
        {
          "type": "url",
          "id": "linkedin_url",
          "label": "LinkedIn URL"
        },
        {
          "type": "url",
          "id": "x_url",
          "label": "X URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="section--team">

<div class="section--title-block page-container" style="display: flex; justify-content: {{ section.settings.alignment }};" >
  <div style="max-width: {{ section.settings.container_width }}px;">
    <h2 style="text-align: {{ section.settings.title_alignment }};">{{ section.settings.section_title }}</h2>
    <div class="title-block--desc" style="text-align: {{ section.settings.title_alignment }};">{{ section.settings.section_description }}</div>
  </div>
</div>
  

  <div class=" section--trainer-cards-container page-container" >
  {% for block in section.blocks %}
    <div class="trainer-card">
      <div class="trainer-card-wrap">

        <div class="trainer-image-wrap">
          <img src="{{ block.settings.trainer_image | img_url: 'large' }}" alt="{{ block.settings.trainer_name }}" />
        </div>

        <div class="trainer-info-wrap">
          <p class="info-position">{{ block.settings.trainer_position }}</p>
          <p class="trainer-name">{{ block.settings.trainer_name }}</p>
          <p class="trainer-cert">{{ block.settings.trainer_certification }}</p>

          <div class="trainer-social">
            {% if block.settings.facebook_url %}
              <a href="{{ block.settings.facebook_url }}" target="_blank" rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
  <path d="M4.91047 9.58679H6.88355V17.7097C6.88355 17.8701 7.01348 18 7.17387 18H10.5193C10.6797 18 10.8096 17.8701 10.8096 17.7097V9.62508H13.0779C13.2253 9.62508 13.3494 9.51441 13.3663 9.36791L13.7108 6.37748C13.7202 6.29522 13.6942 6.21281 13.6391 6.15108C13.584 6.08931 13.5052 6.05394 13.4224 6.05394H10.8098V4.17937C10.8098 3.61431 11.114 3.32775 11.7142 3.32775C11.7997 3.32775 13.4224 3.32775 13.4224 3.32775C13.5828 3.32775 13.7128 3.19774 13.7128 3.03743V0.292465C13.7128 0.132082 13.5828 0.00214453 13.4224 0.00214453H11.0682C11.0516 0.00133594 11.0147 0 10.9604 0C10.5519 0 9.13203 0.0801913 8.01044 1.11199C6.76774 2.25541 6.9405 3.62443 6.98177 3.86181V6.05387H4.91044C4.75005 6.05387 4.62012 6.18381 4.62012 6.34419V9.29644C4.62015 9.45679 4.75009 9.58679 4.91047 9.58679Z" fill="#c8ff63"/>
</svg>
              </a>
            {% endif %}
            {% if block.settings.instagram_url %}
              <a href="{{ block.settings.instagram_url }}" target="_blank" rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
  <path d="M16.6665 2.25H7.6665C6.27457 2.25149 4.94008 2.80509 3.95584 3.78933C2.97159 4.77358 2.41799 6.10807 2.4165 7.5V16.5C2.41799 17.8919 2.97159 19.2264 3.95584 20.2107C4.94008 21.1949 6.27457 21.7485 7.6665 21.75H16.6665C18.0584 21.7485 19.3929 21.1949 20.3772 20.2107C21.3614 19.2264 21.915 17.8919 21.9165 16.5V7.5C21.915 6.10807 21.3614 4.77358 20.3772 3.78933C19.3929 2.80509 18.0584 2.25149 16.6665 2.25ZM12.1665 16.5C11.2765 16.5 10.4065 16.2361 9.66644 15.7416C8.92642 15.2471 8.34964 14.5443 8.00905 13.7221C7.66845 12.8998 7.57934 11.995 7.75297 11.1221C7.9266 10.2492 8.35519 9.44736 8.98452 8.81802C9.61386 8.18868 10.4157 7.7601 11.2886 7.58647C12.1615 7.41283 13.0663 7.50195 13.8886 7.84254C14.7108 8.18314 15.4137 8.75991 15.9081 9.49993C16.4026 10.24 16.6665 11.11 16.6665 12C16.6653 13.1931 16.1908 14.337 15.3471 15.1806C14.5035 16.0243 13.3596 16.4988 12.1665 16.5ZM17.7915 7.5C17.569 7.5 17.3515 7.43402 17.1665 7.3104C16.9815 7.18679 16.8373 7.01109 16.7521 6.80552C16.667 6.59995 16.6447 6.37375 16.6881 6.15552C16.7315 5.93729 16.8387 5.73684 16.996 5.5795C17.1533 5.42217 17.3538 5.31502 17.572 5.27162C17.7903 5.22821 18.0165 5.25049 18.222 5.33564C18.4276 5.42078 18.6033 5.56498 18.7269 5.74998C18.8505 5.93499 18.9165 6.1525 18.9165 6.375C18.9165 6.67337 18.798 6.95952 18.587 7.1705C18.376 7.38147 18.0899 7.5 17.7915 7.5ZM15.1665 12C15.1665 12.5933 14.9906 13.1734 14.6609 13.6667C14.3313 14.1601 13.8627 14.5446 13.3146 14.7716C12.7664 14.9987 12.1632 15.0581 11.5812 14.9424C10.9993 14.8266 10.4647 14.5409 10.0452 14.1213C9.62563 13.7018 9.3399 13.1672 9.22415 12.5853C9.10839 12.0033 9.1678 11.4001 9.39487 10.8519C9.62193 10.3038 10.0064 9.83524 10.4998 9.50559C10.9931 9.17595 11.5732 9 12.1665 9C12.9622 9 13.7252 9.31607 14.2878 9.87868C14.8504 10.4413 15.1665 11.2044 15.1665 12Z" fill="#c8ff63"/>
</svg>
              </a>
            {% endif %}
            {% if block.settings.linkedin_url %}
              <a href="{{ block.settings.linkedin_url }}" target="_blank" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
  <path d="M20.4165 2.25H3.9165C3.51868 2.25 3.13715 2.40804 2.85584 2.68934C2.57454 2.97064 2.4165 3.35218 2.4165 3.75V20.25C2.4165 20.6478 2.57454 21.0294 2.85584 21.3107C3.13715 21.592 3.51868 21.75 3.9165 21.75H20.4165C20.8143 21.75 21.1959 21.592 21.4772 21.3107C21.7585 21.0294 21.9165 20.6478 21.9165 20.25V3.75C21.9165 3.35218 21.7585 2.97064 21.4772 2.68934C21.1959 2.40804 20.8143 2.25 20.4165 2.25ZM9.1665 16.5C9.1665 16.6989 9.08749 16.8897 8.94683 17.0303C8.80618 17.171 8.61542 17.25 8.4165 17.25C8.21759 17.25 8.02683 17.171 7.88617 17.0303C7.74552 16.8897 7.6665 16.6989 7.6665 16.5V10.5C7.6665 10.3011 7.74552 10.1103 7.88617 9.96967C8.02683 9.82902 8.21759 9.75 8.4165 9.75C8.61542 9.75 8.80618 9.82902 8.94683 9.96967C9.08749 10.1103 9.1665 10.3011 9.1665 10.5V16.5ZM8.4165 9C8.194 9 7.97649 8.93402 7.79149 8.8104C7.60648 8.68679 7.46229 8.51109 7.37714 8.30552C7.29199 8.09995 7.26971 7.87375 7.31312 7.65552C7.35653 7.43729 7.46367 7.23684 7.62101 7.0795C7.77834 6.92217 7.9788 6.81502 8.19703 6.77162C8.41526 6.72821 8.64146 6.75049 8.84702 6.83564C9.05259 6.92078 9.22829 7.06498 9.35191 7.24998C9.47552 7.43499 9.5415 7.6525 9.5415 7.875C9.5415 8.17337 9.42298 8.45952 9.212 8.6705C9.00102 8.88147 8.71487 9 8.4165 9ZM17.4165 16.5C17.4165 16.6989 17.3375 16.8897 17.1968 17.0303C17.0562 17.171 16.8654 17.25 16.6665 17.25C16.4676 17.25 16.2768 17.171 16.1362 17.0303C15.9955 16.8897 15.9165 16.6989 15.9165 16.5V13.125C15.9165 12.6277 15.719 12.1508 15.3673 11.7992C15.0157 11.4475 14.5388 11.25 14.0415 11.25C13.5442 11.25 13.0673 11.4475 12.7157 11.7992C12.364 12.1508 12.1665 12.6277 12.1665 13.125V16.5C12.1665 16.6989 12.0875 16.8897 11.9468 17.0303C11.8062 17.171 11.6154 17.25 11.4165 17.25C11.2176 17.25 11.0268 17.171 10.8862 17.0303C10.7455 16.8897 10.6665 16.6989 10.6665 16.5V10.5C10.6674 10.3163 10.7358 10.1393 10.8585 10.0026C10.9813 9.86596 11.1499 9.7791 11.3325 9.75852C11.515 9.73794 11.6988 9.78508 11.8489 9.891C11.999 9.99691 12.105 10.1542 12.1468 10.3331C12.6542 9.98894 13.2457 9.78947 13.8579 9.75611C14.4701 9.72276 15.0798 9.85679 15.6215 10.1438C16.1633 10.4308 16.6166 10.86 16.9329 11.3852C17.2491 11.9105 17.4163 12.5119 17.4165 13.125V16.5Z" fill="#c8ff63"/>
</svg>
              </a>
            {% endif %}
            {% if block.settings.x_url %}
              <a href="{{ block.settings.x_url }}" target="_blank" rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
  <g clip-path="url(#clip0_907_3095)">
    <path d="M13.4838 0H16.1058L10.3774 7.2435L17.1166 17.1H11.8397L7.70696 11.1219L2.97801 17.1H0.354226L6.48134 9.3524L0.0166016 0H5.42711L9.16293 5.46403L13.4838 0ZM12.5635 15.3636H14.0165L4.63771 1.64523H3.07867L12.5635 15.3636Z" fill="#c8ff63"/>
  </g>
  <defs>
    <clipPath id="clip0_907_3095">
      <rect width="18" height="18" fill="white" transform="translate(0.166504)"/>
    </clipPath>
  </defs>
</svg>
              </a>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
</div>

</section>




 <style>
.section--team{
  padding-top:90px;
  padding-bottom:90px;
}

   @media only screen and (min-width: 981px) {
   .section--trainer-cards-container{
   display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-column-gap: 20px;
     grid-row-gap:20px;
 
   }
        .trainer-info-wrap {

  padding: 20px;
}
   .trainer-social{
    width: 90%;
}
     
   }
      @media only screen and (min-width: 768px) and (max-width: 981px) {
   .section--trainer-cards-container{
   display:grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 20px;
     grid-row-gap:20px;

   }
        .trainer-info-wrap {

  padding: 25px;
}
   .trainer-social{
    width: 100%;
}
   }
      @media only screen  and (max-width: 768px) {
   .section--trainer-cards-container{
   display:grid;
     grid-template-columns: 1fr;
     grid-column-gap: 20px;
     grid-row-gap:20px;

   }
           .trainer-info-wrap {

  padding: 25px;
}
   .trainer-social{
    width: 100%;
}
     
   }
   
   .trainer-card {
  border-radius: 20px;
  background: #133257;
     overflow:hidden;

}

.trainer-card-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.trainer-image-wrap {
  width: 100%;
  background-color: #f7f8fa;
  height: 280px;  display: block;
  overflow: hidden;
}

   @media only screen and (min-width: 980px) {
        .trainer-image-wrap {

  height: 280px;

}
   }
      @media only screen and (max-width: 980px) {
        .trainer-image-wrap {

  height: auto;

}
   }

.trainer-image-wrap img {
  width: 100%;
      height: 100%;
  object-fit: cover;
  object-position:top;
}

.trainer-info-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}


.info-position {
  width: 100%;
  margin: 0 0 10px 0;
  color: #fff;
  text-align: center;
    font-family: var(--font-heading-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 18px */
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.trainer-name {
  width: 100%;
  margin: 0 0 5px 0;
  color: #fff;
  text-align: center;
    font-family: var(--font-heading-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 104%; /* 18.72px */
  text-transform: uppercase;
}

.trainer-cert {
  width: 100%;
  margin: 0;
  color: #fff;
  text-align: center;
    font-family: var(--font-body-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.trainer-social {

  border-top: 1px solid #fff;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  margin-top: 20px;
  align-items:center;
  gap:6px;
}


</style>
