{% paginate blogs['npta-blogs'].articles by 4 %}
  <div class="latest-posts-grid">
    {% for article in blogs['npta-blogs'].articles %}
      {% if article.tags contains "Apprenticeship Program" %}
        <div class="latest-blog-post-item">
          <a href="{{ article.url }}">
            <img src="{{ article.image | img_url: '400x400' }}" alt="{{ article.title }}">
            <div class="content">
              <h4>{{ article.title }}</h4>
              <p>{{ article.excerpt | truncatewords: 25 }}</p>
              <span class="read-more">Read More →</span>
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginate.previous %}
      <a href="{{ paginate.previous.url }}" class="prev">← Previous</a>
    {% endif %}
    {% for part in paginate.parts %}
      {% if part.is_link %}
        <a href="{{ part.url }}" class="page-number">{{ part.title }}</a>
      {% else %}
        <span class="current-page">{{ part.title }}</span>
      {% endif %}
    {% endfor %}
    {% if paginate.next %}
      <a href="{{ paginate.next.url }}" class="next">Next →</a>
    {% endif %}
  </div>
{% endpaginate %}
